*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.centratura{
  width: 80%;
  margin: 0 auto;
}

/* barra di navigazione */
header{
  box-shadow: 2px 2px 5px lightgrey;
}

.logo img{
  max-width: 150px;
}

nav{
  display: flex;
  align-items: center;
  justify-content:space-between;
}

nav ul li{
  display: inline-block;
  list-style: none;
  font-size: 10px;
  margin-top: 10px;
  margin-right: 10px;
}

nav .btn{
  max-height: 20px;
  max-width: 50px;
  padding-top: 2px;
  padding-left: 6px;
  font-size: 10px;
}

.ham{
  display: none;
  color: #2285fd;
  font-size: 20px;
}

/* jumbotrom */
.jumbotron{
  background-image: url("../img/jumbo.svg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
  margin-bottom: 0;
}

.flex{
  display: flex;
  align-items: center;
  justify-content:space-between;
}

.jumbotron{
  color: white;
  font-size: 10px;
}

.texjumbo{
  max-width: 50%;
}

.contenitore{
  display: inline-block;
  background-color: white;
  border-radius: 5px;
  color: #5c6a88;
  padding: 10px;
  text-align: center;
}

.contenitore h2{
  font-size: 15px;
}

form img{
  max-height: 15px;
  float: left;
}

.form-control{
  font-size: 10px;
}

.btn-primary{
  font-size: 10px;
}
.btn-default{
  font-size: 10px;
}

.privacy{
  font-size: 10px;
  margin-top: 20px;
}

/* elenco lighi/ sponsor */
.contenuto1{
  display: flex;
  justify-content:space-between;
  text-align: center;
  background-color: #f3f5f9;
}
.contenuto1 ul li{
  list-style: none;
  display: inline-block;
}
.contenuto1 p{
  margin-top: 10px;
}

/* seconda parte del main */
.contenuto2{
  text-align: center;
  margin: 10px 10px;
}

.contain{
  margin: 20px 0px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.cella{
  max-width: 30%;
}

.elenco{
  text-align: left;
  list-style: none;
  border-left: 2px solid lightgrey;
  padding-left: 5px;
}


@media all and (max-width: 991px) {

/*  barra di navigazione */
  .centratura{
    width: 90%;
    margin: 0 auto;
  }

  .navcenter{
    display: none;
  }
  .navright{
    display: none;
  }
  .ham{
    display: block;
  }

}

@media all and (max-width: 537px){
  .cella{
    max-width: 50%;
  }
}
